<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Account</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/'}">Home</a>
    <div class="account">
        <h1 th:text="${account.firstName}">Username</h1>
        <h2 th:text="'First name ' + ${account.firstName}">First Name</h2>
        <h2 th:text="'Last name ' + ${account.lastName}">Last name</h2>
        <h2 th:text="'Email ' + ${account.email}">Email</h2>
        <h2 th:text="'Role ' + ${account.authorities}">Role</h2>
    </div>
</div>
</body>
</html>